<launch>
    <!-- Include the Voxblox mapping launch file -->
    <include file="$(find voxblox_ros)/launch/voxblox_mapping.launch"/>

    <!-- mav_voxblox_planning Node -->
      <node name="planner_node" pkg="mav_voxblox_planning" type="planner_node" output="screen">
        <param name="global_frame_id" value="true_body"/>
        <!-- Specify planning and MAV parameters -->
        <param name="planner/planning_rate" value="1.0"/>
        <!-- Add more parameters as needed -->
    </node>
</launch>
