<launch>

<!-- Using depth_image_proc package - point_cloud_xyz nodelet to generate point cloud from depth camera image -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
  <node pkg="nodelet" type="nodelet" name="depth_to_cloud"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/realsense/depth/camera_info"/>
    <remap from="image_rect" to="/realsense/depth/image"/>
    <remap from="points" to="/pointcloud"/>
  </node>

<!-- 90 degrees rotation about X axis from true_body to Depth Camera Frame -->
<node pkg="tf" type="static_transform_publisher" name="depth_camera_broadcaster"
      args="0 0 0 -0.7071 0 0 0.7071 true_body Quadrotor/Sensors/DepthCamera 10" />

    
</launch>
