<launch>
  <!-- Voxblox Node -->
  <include file="$(find voxblox_ros)/launch/voxblox_mapping.launch">
    <!-- Add more Voxblox specific configurations as needed -->
  </include>

  <!-- voxblox_loco_planner Node -->
  <node name="voxblox_loco_planner" pkg="voxblox_loco_planner" type="voxblox_loco_planner_node" output="screen">
    <param name="global_frame" value="world"/>
    <param name="robot_base_frame" value="base_link"/>
    <param name="voxel_size" value="0.2"/>
    <param name="planning_rate" value="1.0"/>
    <!-- Specify more parameters or include a YAML file -->

  </node>

  <!-- RViz for Visualization -->

</launch>
